<!DOCTYPE html>
<html>
<head>
    <title>RethinkLogs</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.4/vue.min.js"></script>
    <link rel="stylesheet" media="screen" href="content/site.css" />
</head>
<body>

    <h1 class="logo">RethinkLogs</h1>
    <div class="query">
        <input id="queryString" class="text" placeholder="enter query" />
        <button v-on:click="sendQuery">Query</button>
    </div>
    <div v-if="message" class="message-detail">
        <div class=text></div>
            <div class="text">{{message}}</div>
    </div>
    <div id="logs">
        <div id="messages">
            <div class="message" v-for="message in messages">
                <div class="text date">{{message.Timestamp}} - </div>
                <div v-on:click="getItem" class="text level">{{message.Level}} - </div>
                <div class="text">{{message.Message}}</div>
                <button class="id" v-on:click="getItem(message.id)">Get</button>
            </div>
        </div>
    </div>

    <script src="Scripts/jquery-1.6.4.min.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="Scripts/moment.min.js"></script>

    <script type="text/javascript">
        var logger = $.connection.logHub;

        var app = new Vue({
            el: "body",
            data: {
                messages: [],
                message: null
            },
            created: function () {
                $.connection.hub.start().then(function () {
                    logger.server.history(10).then(function (messages) {
                        messages.forEach(function (obj) {
                            app.onMessage(obj.id, obj.Message, obj.Timestamp, obj.Level);
                        });
                    });
                });
            },
            methods: {
                onMessage: function (id, Message, Timestamp, Level) {
                    this.messages.reverse(); // Ugly hack to put new events on top of listw
                    this.messages.push({ id: id, Message: Message, Timestamp: moment(Timestamp).format(), Level: app.toText(Level) });
                    this.messages.reverse();
                },
                sendQuery: function () {
                    logger.server.query($('#queryString').val()).then(function (messages) {
                        app.messages = [];
                        messages.forEach(function (msg) {
                            app.onMessage(msg.id, msg.Message, msg.Timestamp, msg.Level);
                        });
                    });
                },
                getItem: function (msg) {
                   logger.server.get(msg).then( function(message) {
   
                       // Not working as expected
                       // Found here http://jsfiddle.net/f24UP/2/
                       // var f = {
                       //     brace: 0
                       // }; // for tracking matches, in particular the curly braces

                       //var jsonStr = JSON.stringify(message);
                       //var regeStr = jsonStr.replace(/({|}[,]*|[^{}:]+:[^{}:,]*[,{]*)/g, function (m, p1) {
                       //    var rtnFn = function () {
                       //        return '<div style="text-indent: ' + (f['brace'] * 20) + 'px;">' + p1 + '</div>';
                       //    },
                       //        rtnStr = 0;
                       //    if (p1.lastIndexOf('{') === (p1.length - 1)) {
                       //        rtnStr = rtnFn();
                       //        f['brace'] += 1;
                       //    } else if (p1.indexOf('}') === 0) {
                       //        f['brace'] -= 1;
                       //        rtnStr = rtnFn();
                       //    } else {
                       //        rtnStr = rtnFn();
                       //    }
                       //    return rtnStr;
                        //});
                       app.message = JSON.stringify(message);
                   });
                },
                toText: function (level) {
                    switch (level) {
                        case 0:
                            return "Verbose";
                        case 1:
                            return "Debug";
                        case 2:
                            return "Information";
                        case 3:
                            return "Warning";
                        case 4:
                            return "Error";
                        case 5:
                            return "Fatal";
                        default:
                            return "Unknown";
                    }
                }
            }
        });

        logger.client.onMessage = app.onMessage;
    </script>
</body>
</html>