<!DOCTYPE html>
<html>
<head>
    <title>RethinkLogs</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.4/vue.min.js"></script>
    <link rel="stylesheet" media="screen" href="content/site.css" />
</head>
<body>
    <h1 class="logo">RethinkLogs</h1>
    <div class="query">
        <input id="queryString" class="text" placeholder="enter query" />
        <button v-on:click="sendQuery">Query</button>
    </div>
    <div v-if="message" class="message-detail">
        <div class=text></div>
        <div class="text">{{message}}</div>
    </div>
    <div id="logs">
        <div id="messages">
            <div class="message" v-for="message in messages">
                <a v-on:click="getItem(message.id)">
                    <div class="text date">{{message.Timestamp}} - </div>
                    <div v-bind:class="message.Level" class="text">{{message.Level}}</div>
                    <div class="text"> - </div>
                    <div class="text">{{message.Message}}</div>
                </a>
            </div>
        </div>
    </div>
    <script src="Scripts/jquery-1.6.4.min.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="Scripts/moment.min.js"></script>
    <script type="text/javascript">
        var logger = $.connection.logHub;

        var app = new Vue({
            el: "body",
            data: {
                messages: [],
                message: null
            },
            created: function () {
                $.connection.hub.start()
                    .then(function () {
                        logger.server.history(100)
                            .then(function (messages) {
                                messages.forEach(function (obj) {
                                    app.onMessage(obj.id, obj.Message, obj.Timestamp, obj.Level);
                                });
                            });
                    });
            },
            methods: {
                onMessage: function (id, Message, Timestamp, Level) {
                    this.messages.unshift({
                        id: id,
                        Message: Message,
                        Timestamp: moment(Timestamp).format(),
                        Level: app.toText(Level)
                    });
                },
                sendQuery: function () {
                    logger.server.query($('#queryString').val())
                        .then(function (messages) {
                            app.messages = [];
                            messages.forEach(function (msg) {
                                app.onMessage(msg.id, msg.Message, msg.Timestamp, msg.Level);
                            });
                        });
                },
                getItem: function (msg) {
                    logger.server.get(msg)
                        .then(function (message) {
                            app.message = JSON.stringify(message);
                        });
                },
                toText: function (level) {
                    switch (level) {
                        case 0:
                            return "Verbose";
                        case 1:
                            return "Debug";
                        case 2:
                            return "Information";
                        case 3:
                            return "Warning";
                        case 4:
                            return "Error";
                        case 5:
                            return "Fatal";
                        default:
                            return "Unknown";
                    }
                }
            }
        });

        logger.client.onMessage = app.onMessage;
    </script>
</body>
</html>